<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>

   <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipse.jdt.ls.core.internal.TestVMType"
            id="org.eclipse.jdt.ls.core.internal.TestVMType"/>
      </extension>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.eclipse.jdt.ls.core.internal.TestDelegateCommandHandlerFactory">
            <command id="testcommand1"/>
            <command id="testcommand2"/>
            <command id="testcommand.throwexception"/>
            <command id="dup"/>
       </delegateCommandHandler>
       <delegateCommandHandler class="org.eclipse.jdt.ls.core.internal.PlaceHolder">
            <command id="dup"/>
       </delegateCommandHandler>
   </extension>
   <extension
         point="org.eclipse.jdt.ls.core.contentProvider">
      <contentProvider
      		class="org.eclipse.jdt.ls.core.internal.PlaceHolder"
      		id="placeholderContentProvider"
            uriPattern=".+\.class">
       </contentProvider>
      <contentProvider
            class="org.eclipse.jdt.ls.core.internal.FakeContentProvider"
            id="fakeContentProvider">
      </contentProvider>
      <contentProvider
            class="org.eclipse.jdt.ls.core.internal.FakeContentProvider"
            id="fakeContentProvider2">
      </contentProvider>
      <contentProvider
            class="org.eclipse.jdt.ls.core.internal.FakeContentProvider"
            id="thingyContentProvider"
            uriPattern=".+\.thingy">
      </contentProvider>
   </extension>
   <extension
         id="importers"
         point="org.eclipse.jdt.ls.core.importers">
         <importer
            id = "noopProjectImporter"
            order ="300"
            class = "org.eclipse.jdt.ls.core.internal.managers.NoopImporter"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.jdt.core.javaDerivedSource"
            file-extensions="langx"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.derivedSourceSearchParticipant">
      <derivedSourceSearchParticipant
            class="org.eclipse.jdt.ls.core.internal.handlers.TestDerivedSourceSearchParticipant"
            id="org.eclipse.jdt.ls.tests.testDerivedSourceSearchParticipant"
            fileExtensions="langx"
            languageId="langx"/>
   </extension>
</fragment>
