<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>

   <extension
         point="org.eclipse.jdt.launching.vmInstallTypes">
      <vmInstallType
            class="org.eclipse.jdt.ls.core.internal.TestVMType"
            id="org.eclipse.jdt.ls.core.internal.TestVMType"/>
      </extension>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.eclipse.jdt.ls.core.internal.TestDelegateCommandHandlerFactory">
            <command id="testcommand1"/>
            <command id="testcommand2"/>
            <command id="testcommand.throwexception"/>
            <command id="dup"/>
       </delegateCommandHandler>
       <delegateCommandHandler class="org.eclipse.jdt.ls.core.internal.PlaceHolder">
            <command id="dup"/>
       </delegateCommandHandler>
   </extension>
   <extension
         point="org.eclipse.jdt.ls.core.contentProvider">
      <contentProvider
      		class="org.eclipse.jdt.ls.core.internal.PlaceHolder"
      		id="placeholderContentProvider"
            uriPattern=".+\.class">
       </contentProvider>
      <contentProvider
            class="org.eclipse.jdt.ls.core.internal.FakeContentProvider"
            id="fakeContentProvider">
      </contentProvider>
      <contentProvider
            class="org.eclipse.jdt.ls.core.internal.FakeContentProvider"
            id="fakeContentProvider2">
      </contentProvider>
      <contentProvider
            class="org.eclipse.jdt.ls.core.internal.FakeContentProvider"
            id="thingyContentProvider"
            uriPattern=".+\.thingy">
      </contentProvider>
   </extension>
</fragment>
