<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="importers" name="JDT LS Project Importer" schema="schema/importers.exsd"/>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.jdt.ls.core.internal.LanguageServer">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.jdt.ls.core.id1"
            name="Java Language Server">
         <property
               name="appName"
               value="Java Language Server">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         id="importers"
         point="org.eclipse.jdt.ls.core.importers">
         <importer
         	id = "mavenProjectImporter"
         	class = "org.eclipse.jdt.ls.core.internal.managers.MavenProjectImporter"/>
         <importer
         	id = "gradleProjectImporter"
         	class = "org.eclipse.jdt.ls.core.internal.managers.GradleProjectImporter"/> 
         <importer
         	id = "eclipseProjectImporter"
         	class = "org.eclipse.jdt.ls.core.internal.managers.EclipseProjectImporter"/>       	
   </extension>
</plugin>
