<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="Java Language Server Target Definition" sequenceNumber="113">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
            <unit id="com.google.gson.source" version="2.7.0.v20170129-0911"/>
            <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
            <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
            <repository location="https://download.eclipse.org/tools/orbit/R-builds/R20200529191137/repository"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.buildship.feature.group" version="0.0.0"/>
            <repository location="https://download.eclipse.org/buildship/updates/e423/snapshots/3.x/3.1.7.v20221108-1729-s/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.m2e.logback.feature.feature.group" version="0.0.0"/>
            <unit id="ch.qos.logback.classic" version="0.0.0"/>
	        <repository location="https://download.eclipse.org/technology/m2e/snapshots/latest/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.jdt.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
            <unit id="org.mockito.mockito-core" version="0.0.0"/>
            <repository location="https://download.eclipse.org/eclipse/updates/4.27-I-builds/I20221206-1800"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
            <repository location="https://download.eclipse.org/releases/2021-09/202109151000/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
           <repository location="https://download.eclipse.org/lsp4j/updates/releases/0.12.0/"/>
           <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>