<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         id="org.eclipse.jdt.ls.debug.javadebugger"
         point="org.eclipse.jdt.ls.core.debugserver">
      <implementor
            class="org.eclipse.jdt.ls.debug.adapter.jdt.DebugServerFactory"
            type="java">
      </implementor>
   </extension>
</plugin>
