# This workflow will check for Maven projects if the licenses of all (transitive) dependencies are vetted.

name: License vetting status check

on:
  push:
    branches: 
      - 'master'
  pull_request:
    branches: 
     - 'master'
  issue_comment:
    types: [created]

jobs:
  call-license-check:
    uses: eclipse/dash-licenses/.github/workflows/mavenLicenseCheck.yml@master
    with:
      projectId: eclipse.jdt.ls
      submodules: recursive
    secrets:
      gitlabAPIToken: ${{ secrets.ECLIPSE_GITLAB_API_TOKEN }}
