# This workflow will check for Maven projects if the licenses of all (transitive) dependencies are vetted.

name: License vetting status check

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
     - 'main'
  issue_comment:
    types: [created]

jobs:
  call-license-check:
    permissions:
      pull-requests: write
    uses: eclipse-dash/dash-licenses/.github/workflows/mavenLicenseCheck.yml@master
    with:
      projectId: eclipse.jdt.ls
      submodules: recursive
      javaVersion: '25'
    secrets:
      gitlabAPIToken: ${{ secrets.ECLIPSE_GITLAB_API_TOKEN }}
